/* CSS Document */
* {
    margin: 0;
    padding: 0;
   
}
body, html {
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
}
.main img {
    height: 200px;
    width: 1200px;
    
}
.nav {
    padding: 0px 10px;
    background: #e2e2e2;
    height: 31px;
}

.nav a {
    display: block;
    width: 100px;
    height: 39px;
    float: left;
    text-align: center;
    line-height: 39px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.nav a:hover {
    border-bottom: 2px solid #018bd3;
}

.nav a.hover {
    border-bottom: 2px solid #018bd3;
}

.nr {
    padding: 30px 50px;
    background: #fff;
}

img {
    border: none;
}

.bg1 {
    background: #fff url("../images/bg.png")
        /*tpa=images/bg.png*/
        no-repeat center 100px;
}

p {
    line-height: 24px;
    text-indent: 2em;
}

.bg {
    background: #d0e7e9;
    padding: 20px;
}

.tc {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.tc tr td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px;
    font-size: 13px;
    line-height: 26px;
}

.tit {
    margin-bottom: 65px;
}

.j {
    height: 100px;
}

.zqc {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 258px;
    height: 279px;
    font-size: 12px;
    line-height: 24px;
    color: #757575;
    text-indent: 2em;
    background: url("../images/index_06.png")
        /*tpa=images/index_06.png*/
        no-repeat;
}

